@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error</title>
    <style>
        body {
            height: 100vh;
            margin: 0;
            padding: 0;
            background-image: url('/img/yjty.jpg');
            background-repeat: no-repeat;
            background-position: center center; 
            background-size: 50%; 
            background-color: #fafafa;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .error-container h2 {
            font-size: 4vw;
            margin: 0;
            padding: 0 1rem; 
            max-width: 90vw;
            color: #333;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        }

        @@media (max-width: 768px) {
            body {
                background-size: 80%;
            }

            .error-container h2 {
                font-size: 6vw;
            }
        }

        @@media (max-width: 480px) {
            body {
                background-size: 90%;
            }

            .error-container h2 {
                font-size: 7vw;
            }
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h2><b>Something Went Wrong :(</b></h2>
    </div>
</body>
</html>
