USE [master]
GO
/****** Object:  Database [loginninfo]    Script Date: 12/08/2025 16:31:48 ******/
CREATE DATABASE [loginninfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'loginninfo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\loginninfo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'loginninfo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\loginninfo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [loginninfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [loginninfo]
GO
/****** Object:  Table [dbo].[BaseUser]    Script Date: 12/08/2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[username] [nvarchar](10) NULL,
	[job] [nvarchar](max) NULL,
 CONSTRAINT [PK_BaseUser_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaseUserRolee]    Script Date: 12/08/2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseUserRolee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaseUserId] [int] NOT NULL,
	[UserRoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaseUserRoles]    Script Date: 12/08/2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseUserRoles](
	[Id] [int] NULL,
	[BaseUserId] [int] NOT NULL,
	[UserRoleId] [int] NOT NULL,
 CONSTRAINT [PK_BaseUserRole] PRIMARY KEY CLUSTERED 
(
	[BaseUserId] ASC,
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_login]    Script Date: 12/08/2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_login](
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginLog]    Script Date: 12/08/2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserName] [nvarchar](100) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[LoginDate] [datetime] NULL,
	[BrowserInfo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/08/2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[description] [varchar](200) NULL,
	[ischecked] [bit] NULL,
	[islogloginchecked] [bit] NULL,
 CONSTRAINT [PK_UserRole_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaseUser] ON 

INSERT [dbo].[BaseUser] ([Id], [email], [password], [username], [job]) VALUES (1, N'fatihkusaslan12345@gmail.com', N'12345', N'fth455', N'Developer')
INSERT [dbo].[BaseUser] ([Id], [email], [password], [username], [job]) VALUES (4, N'utku@gmail.com', N'utku7', N'utkuasln', N'Human Resources')
INSERT [dbo].[BaseUser] ([Id], [email], [password], [username], [job]) VALUES (5, N'ahmetbulut@yahoo.com', N'Ahmet900', N'ahmetbltt', N'Data Engineer')
SET IDENTITY_INSERT [dbo].[BaseUser] OFF
GO
SET IDENTITY_INSERT [dbo].[BaseUserRolee] ON 

INSERT [dbo].[BaseUserRolee] ([Id], [BaseUserId], [UserRoleId]) VALUES (20, 11, 4)
INSERT [dbo].[BaseUserRolee] ([Id], [BaseUserId], [UserRoleId]) VALUES (21, 9, 3)
INSERT [dbo].[BaseUserRolee] ([Id], [BaseUserId], [UserRoleId]) VALUES (22, 7, 2)
SET IDENTITY_INSERT [dbo].[BaseUserRolee] OFF
GO
INSERT [dbo].[BaseUserRoles] ([Id], [BaseUserId], [UserRoleId]) VALUES (NULL, 1, 1)
INSERT [dbo].[BaseUserRoles] ([Id], [BaseUserId], [UserRoleId]) VALUES (NULL, 4, 1)
INSERT [dbo].[BaseUserRoles] ([Id], [BaseUserId], [UserRoleId]) VALUES (NULL, 5, 1)
GO
INSERT [dbo].[tbl_login] ([email], [password]) VALUES (N'fatihkusaslan12345@gmail.com', N'12345')
INSERT [dbo].[tbl_login] ([email], [password]) VALUES (N'fatihkusaslan@gmail.com', N'0000')
GO
SET IDENTITY_INSERT [dbo].[UserLoginLog] ON 

INSERT [dbo].[UserLoginLog] ([Id], [UserId], [UserName], [IPAddress], [LoginDate], [BrowserInfo]) VALUES (3, 1, N'fth455', N'192.168.1.16', CAST(N'2025-08-06T11:17:57.760' AS DateTime), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36')
INSERT [dbo].[UserLoginLog] ([Id], [UserId], [UserName], [IPAddress], [LoginDate], [BrowserInfo]) VALUES (4, 4, N'utkuasln', N'192.168.1.16', CAST(N'2025-08-06T11:19:17.180' AS DateTime), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36')
INSERT [dbo].[UserLoginLog] ([Id], [UserId], [UserName], [IPAddress], [LoginDate], [BrowserInfo]) VALUES (5, 1, N'fth455', N'192.168.1.16', CAST(N'2025-08-06T11:23:40.583' AS DateTime), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36')
SET IDENTITY_INSERT [dbo].[UserLoginLog] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [name], [description], [ischecked], [islogloginchecked]) VALUES (1, N'Admin', N'User management, adding, deleting, updating and viewing all data; access to system settings.', 1, 1)
INSERT [dbo].[UserRole] ([Id], [name], [description], [ischecked], [islogloginchecked]) VALUES (2, N'Brand Manager', N'Brands can add and edit, but cannot delete. Access to other areas is limited.', 0, 1)
INSERT [dbo].[UserRole] ([Id], [name], [description], [ischecked], [islogloginchecked]) VALUES (3, N'Content Editor', N'Can add and update content, but cannot modify user and system settings.', 0, 0)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[BaseUserRolee]  WITH CHECK ADD FOREIGN KEY([BaseUserId])
REFERENCES [dbo].[BaseUser] ([Id])
GO
ALTER TABLE [dbo].[BaseUserRolee]  WITH CHECK ADD FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[BaseUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_BaseUserRole_BaseUser] FOREIGN KEY([BaseUserId])
REFERENCES [dbo].[BaseUser] ([Id])
GO
ALTER TABLE [dbo].[BaseUserRoles] CHECK CONSTRAINT [FK_BaseUserRole_BaseUser]
GO
ALTER TABLE [dbo].[BaseUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_BaseUserRole_UserRole] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[BaseUserRoles] CHECK CONSTRAINT [FK_BaseUserRole_UserRole]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLoginLogs]    Script Date: 12/08/2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLoginLogs]
    @UserName NVARCHAR(50) = NULL,
    @IPAddress NVARCHAR(50) = NULL,
    @StartDate DATETIME = NULL,
    @EndDate DATETIME = NULL,
    @BrowserInfo NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM UserLoginLog
    WHERE 
        (@UserName IS NULL OR UserName = @UserName)
        AND (@IPAddress IS NULL OR IPAddress = @IPAddress)
        AND (@StartDate IS NULL OR LoginDate >= @StartDate)
        AND (@EndDate IS NULL OR LoginDate < DATEADD(DAY, 1 , @EndDate))
        AND (@BrowserInfo IS NULL OR BrowserInfo = @BrowserInfo)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserLoginLogs]    Script Date: 12/08/2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserLoginLogs]
    @UserName NVARCHAR(100) = NULL,
	@IPAddress NVARCHAR(50) = NULL,
    @StartDate DATETIME = NULL,
    @EndDate DATETIME = NULL,
    @BrowserInfo NVARCHAR(MAX) = NULL
AS
BEGIN
    SELECT * FROM UserLoginLog
    WHERE (@UserName IS NULL OR UserName = @UserName)
	  AND (@IPAddress IS NULL OR IPAddress LIKE '%' + @IPAddress + '%')
      AND (@StartDate IS NULL OR LoginDate >= @StartDate)
      AND (@EndDate IS NULL OR LoginDate <= @EndDate)    
      AND (@BrowserInfo IS NULL OR BrowserInfo LIKE '%' + @BrowserInfo + '%')
    ORDER BY LoginDate DESC
END
GO
USE [master]
GO
